body {
  background-color: #cccccc;
}

pre {
  white-space: pre-wrap; /* Allow wrapping */
  word-wrap: break-word; /* Break long words if needed */
  overflow-x: hidden;    /* (Optional) hide scroll */
  font-family: inherit;
  font-size: inherit;
}